asgiref==3.2.3
attrs==19.3.0
Automat==20.2.0
beautifulsoup4==4.6.0
cachetools==4.0.0
certifi==2018.4.16
cffi==1.14.0
chardet==3.0.4
constantly==15.1.0
cryptography==2.8
cssselect==1.1.0
cycler==0.10.0
DateTime==4.3
Django==2.0.7
et-xmlfile==1.0.1
google-api-python-client==1.7.11
google-auth==1.10.0
google-auth-httplib2==0.0.3
google-auth-oauthlib==0.4.1
httplib2==0.15.0
hyperlink==19.0.0
idna==2.6
incremental==17.5.0
jdcal==1.4
kiwisolver==1.2.0
libtiff==0.4.2
logger==1.4
lxml==4.5.0
matplotlib==3.2.1
numpy==1.14.3
oauthlib==3.1.0
openpyxl==2.5.3
pandas==0.23.0
parsel==1.5.2
pathtools==0.1.2
Protego==0.1.16
psycopg2==2.8.4
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycparser==2.20
PyDispatcher==2.0.5
PyHamcrest==2.0.2
PyJWT==1.7.1
pyOpenSSL==19.1.0
pyparsing==2.4.7
python-dateutil==2.7.3
pytz==2018.4
pywin32==227
queuelib==1.5.0
reload==0.9
requests==2.18.4
requests-oauthlib==1.3.0
rsa==4.0
Scrapy==2.0.1
service-identity==18.1.0
six==1.11.0
sqlparse==0.3.0
twilio==6.35.1
Twisted==20.3.0
uritemplate==3.0.1
urllib3==1.22
virtualenv==16.7.7
w3lib==1.21.0
watchdog==0.10.2
zope.interface==5.0.1
